.hamburguer {
  width: 2rem;
  height: 2rem;
  position: fixed;
  z-index: 200;
  right: 2rem;
  top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  animation: backX .8s;
}

@keyframes goX {
  0% {
    right: 2rem;
  }

  100% {
    right: 16rem;
  }
}

@keyframes backX {
  0% {
    right: 16rem;
  }

  100% {
    right: 2rem;
  }
}

.show-menu .hamburguer {
  right: 16rem;
  animation: goX .8s;
}

.line {
  width: 100%;
  background-color: #ffffff;
  height: .1rem;
  box-shadow: 0.1rem 0.1rem 1px #000;
  transition: transform 1s;
}

.show-menu #line1 {
  transform: rotate(45deg) translate(.3rem, .4rem);
}

.show-menu #line2 {
  opacity: 0;
  visibility: hidden;
}

.show-menu #line3 {
  transform: rotate(-45deg) translate(.3rem, -.64rem);
}

.hamburguer span {
  position: absolute;
  left: 3rem;
  height: 2rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: var(--font-action);
  background-color: #a044ff;
  opacity: 0;
}

.hamburguer span::before {
  content: "";
  position: absolute;
  border-right: .5rem solid #a044ff;
  border-top: .5rem solid transparent;
  border-left: .5rem solid transparent;
  border-bottom: .5rem solid transparent;
  left: -1rem;
}

.show-menu .hamburguer:hover span {
  opacity: 1;
}

@media(max-width: 760px) {
  .hamburguer {
    width: 1.8rem;
    height: 1.8rem;
    right: 1.5rem;
    top: 1.5rem;
  }

  .show-menu #line1 {
    transform: rotate(45deg) translate(.2rem, .3rem);
  }
}